<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse110.com.cse110_chores" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="House of Chores"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CreateSearch_Group"
            android:label="House of Chores" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoresScreen"
            android:label="Add Chores" >
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="Home" >
        </activity>
        <activity
            android:name=".ChoresList"
            android:label="Chores" >
        </activity>
        <activity
            android:name=".MemberList"
            android:label="Members" >
        </activity>
        <activity
            android:name=".MemberScreen"
            android:label="Add Member" >
        </activity>
        <activity
            android:name=".PaymentScreen"
            android:label="Add Payment" >
        </activity>
        <activity
            android:name=".PaymentList"
            android:label="Payments" >
        </activity>
        <activity android:name=".CalendarApi" >
        </activity>
        <activity android:name=".PopUpSortedChores">
        </activity>
    </application>

</manifest>
