<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse110.com.cse110_chores" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CSE 110"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CreateSearch_Group"
            android:label="CSE 110" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoresScreen"
            android:label="@string/title_activity_chores_screen" >
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen" >
        </activity>
        <activity
            android:name=".ChoresList"
            android:label="@string/title_activity_chores_list" >
        </activity>
        <activity
            android:name=".MemberList"
            android:label="Member List" >
        </activity>
        <activity
            android:name=".MemberScreen"
            android:label="Member Screen" >
        </activity>
    </application>

</manifest>
